
# 404 redirect rule
ErrorDocument 404 /404.html
# Redirect specific URLs to index.html
RewriteEngine On
# Allow specified URLs
RewriteRule ^(home|details|results|volunteer|competitor)/?$ index.html [L]
# Serve all other files from the public directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /404.html [R=404,L]

# Limit access to sensitive files
<Files ".htaccess">
    Order Allow,Deny
    Deny from all
</Files>

# Prevent directory browsing
Options All -Indexes
