/* margin: [top] [right] [bottom] [left]; */
:host {
    all: inherit;
}

.container {
    margin-right: 5rem;
    margin-left: 5rem;
    line-height: 1.5;
    font-size: 1.1rem;
}

a,
.link {
    color: #2980b9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
    margin: 1rem 0 0 0;
}

h5 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem 0 0 0;
}

/* Custom table styles */
.table {
    width: auto;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
    text-align: center;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 4px;
}

.table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.table tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}