/* CSS styles for hovering over "wave function" */
.wavefunc-hover {
    position: relative;
}

/* Tooltip text */
.wavefunc-hover .wavefunc-tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    transform: translate(-50%, 0)
}

/* Show the tooltip on hover */
.wavefunc-hover:hover .wavefunc-tooltip {
    visibility: visible;
}